* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'inter', sans-serif;
	/* overflow: hidden; */
}
h1 {
	font-size: 64px;
	margin: 12px 0 22px 0;
}
h2 {
	font-size: 54px;
	margin: 10px 0 20px 0;
}
h3 {
	font-size: 32px;
	margin: 8px 0 18px 0;
}
h4 {
	font-size: 26px;
	/* margin: 0; */
}
h5 {
	font-size: 18px;
	/* margin: 0; */
}
p{
	font-size: 14px;
	margin: 4px 0 4px 0;
	line-height: 22px;
}
.section-padding {
	padding: 40px 80px;
}
.section-margin {
	margin: 20px 40px;
}
.normal-btn {
	font-size: 24px;
	line-height: 32px;
	outline: none;
	font-weight: 600;
	padding: 10px 18px;
	border-radius: 4px;
	border: 1px solid #777;
	transition: 0.3s ease;
} 
#nav {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #7748cc;
	top: 0;
	left: 0;
	position: sticky;
}
#nav img {
	height:80px;
	width: 130px;
	left: 90px;
	top: 0;
	object-fit: cover;
	cursor: pointer;
	cursor: pointer;
}
#nav ul {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
#nav ul li {
	list-style: none;
	padding-right: 30px;
	position: relative;
}
#nav ul li a {
	text-decoration: none;
	font-size: 20px;
	line-height: 29px;
	font-weight: 400;
	color: #fff;
}
#nav ul li a.active,
#nav ul li a:hover,
#nav ul li i:hover {
	color: rgb(100, 231, 222);
}
#nav ul li a.active::after,
#nav ul li a:hover::after {
	content: "";
	width: 35%;
	height: 2px;
	background: rgb(100, 231, 222);
	position: absolute;
	bottom: -4px;
	left: 2px;
}
#nav ul li i {
	margin-left: 40px;
	color: #fff;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}

/* header for home page */
#header {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	height: 90vh;
	background-image: url("./img/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#header div {
	margin: 150px 0 0 50px;
	width: 40%;
} 
#header h3,h1,p {
	color: purple;
	padding-bottom: 20px;
}
#header button {
	background-color: #7748cc;
	color: #fff;
} 
#header button:hover {
	background-color: transparent;
	color: #7748cc;
}

/* services page */
#services {
	width: 100%;
	background-image: url("./img/Dairy-Products.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}
#services div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	margin: 40px 0 0 40px;
}
#services div .product {
 width: 30%;
 height: 250px;
 background-color: rgba(118, 72, 203, 0.7);
 padding: 15px;
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: space-between;
}
#services div .product article {
	width: 70%;
}
#services div .product img {
	width: 30%;
	height: 120px;
	object-fit: cover;
	border-radius: 6px;
	margin-left: 10px;
}

#services div .product h3,
#services div .product p{
	color: #fff;
	/* margin: 0; */
}

/* about page */
#about {
	background-image: url("./img/home.jpg");
	background-size: cover;
	width: 100%;
	height: 90vh;
}
#about div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0 auto;
	padding-top: 60px;
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 255,0.15);
}
#about h2,h4, p{
	color: #222;
	font-weight: 500;
}

/* contact page */
#contact {
	width: 100%;
	height: 90vh;
	background-image: url("./img/operator.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;	
}
#contact form {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width:40%;
}
#contact form input,
#contact form textarea {
	width: 100%;
	padding: 8px 10px;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #1e1e1e;
	background-color: rgba(0, 0, 0, 0.01);
	color: #fff;
}
#contact form button {
	margin-top: 20px;
	background-color: #7748cc;
	color: #fff;
}
#contact form button:hover{
	background-color: rgba(100, 231, 222, 0.6);
	cursor: pointer;
	/* background-color: ; */
}